body {
    background-color: white;
    margin: 0px;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.body-head-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.h1 {
    font-size: 4vw;
    color: rgb(3, 119, 196);
}

.logo {
    opacity: 0.7;
    margin-right: 3px;
    width: 70px;
    margin: 13px;
}

.right-d1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    width: 350px;
    height: 300px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    padding: 40px;
   
}

.right-img-1 {
    padding: 15px;
    height: 50px;
    width: 150px;
    margin-left: 65px;
}

input {
    /* all: unset; */
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    margin-top: 10px;
}

.right-button-1 {
    background-color: rgb(65, 160, 224);
    text-align: center;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    border: solid 1px rgba(0, 149, 246, 0.3);

}

.right-d4 {
    margin: 15px;
    text-align: center;
}

.right-d4 a {
    text-decoration: none;
    font-weight: 500;
    color: #025fd2;
    font-size: 12px;

}

.right-d1 .right-d5 {
    position: relative;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    /* padding: 15px; */
    text-align: center;
}

.right-d5 a {
    text-decoration: none;
    margin-left: 5px;
    color: #008aff;
    font-weight: bold;

}

.footer-img {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-bg-img {
    width: 100%;
    position: relative;
    top: 21px;
    height: 21vh;

}

.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;



    display: flex;
    justify-content: center;
    /* left: 0; */
    /* margin-bottom: 1%; */
    bottom: 6px;
    /* top: -17px; */
    /* width: 100%; */
    /* z-index: 2;*/

}




.footer-span {
    font-size: 1vw;
    color: white;
}